:root {
  --text-color: #333;
  --dark-grey: #44403c;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: var(--text-color);
}

/* navbar */
.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 25px;
}

.nav-link {
  color: var(--text-color);
}

.logo {
  margin: 0;
  letter-spacing: 0.1em;
}

.hero {
  background-image: url("assets/img/sebastian-svenson-LpbyDENbQQg-unsplash.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  filter: grayscale(100%);
  height: 75vh;
  width: 100%;
}

/* tagline */

.feature-text {
  font-size: 0.8em;
}

.section-padding {
  padding: 60px 0;
}
.feature-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* Call to action */
.cta-section {
  padding: 80px 0;
  text-align: center;
}
.cta-section h2 {
  letter-spacing: 3px;
  font-size: 36px;
  font-weight: 400;
}
.workshop-row {
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
}

.workshop-bg {
  background-image: url("assets/img/charlesdeluvio-Lks7vei-eAg-unsplash.jpeg");
  background-size: cover;
  background-position: top;
  filter: grayscale(100%);
  height: 60vh;
  width: 100%;
  margin-top: 60vh;
}

.workshop-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.workshop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -400px;
  z-index: 10;
}

/* Social media */

.social-anchor {
  text-decoration: none;
  padding: 0 25px;
}

.social-svg {
  width: 50px;
  height: 50px;
}

/* footer */

footer {
  background-color: var(--dark-grey);
  padding: 50px 0;
  text-align: center;
  font-size: 0.8em;
}

footer .separator {
  opacity: 10%;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .workshop-bg {
    margin-top: 100vh;
  }

  .workshop {
    text-align: center;
  }

  .workshop h4 {
    font-size: 2.5rem;
  }

  .workshop {
    top: -900px;
  }

  .social-anchor {
    text-decoration: none;
    padding: 0 10px;
  }
}
